html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;    
}

.grid-section {
    background-color: lightblue;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid black;
    
}

.hover {
    background-color: red;
}
