html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-section {
    background-color: lightblue;
    width: 6.25%;
    min-height: 50px;
    border: 1px solid black;
    
}

.hover {
    background-color: red;
}
